body
	{
	background-color: rgb(89, 84, 243);
	}

.container 
	{
	width: 90%; 
	margin-left: auto;
	margin-right: auto;
	}
			
    h1{
        font-size: xx-large;
        font-family:  Georgia, Times, 'Times New Roman', serif;
        margin: auto;
       color: rgb(5, 105, 105);

    }
    p{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: small;
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    p:hover {
        background-color: #ed0909;
        transition: background-color 0.3s ease;
    }
img	
	{
	max-width: 100%;
	}

figure
	{
	width: 45%;
	min-width: 200px;
	float: left;
	}

@media screen and (max-width: 1000px) {
	
body
	{
	background-color: rgb(145, 229, 11);
	}
	
}


@media only screen and (max-width : 480px) {
	
body
	{
	background-color: rgb(167, 169, 241);
	}
		
}


@media only screen and (max-width : 320px) {
	
body
	{
	background-color: rgb(206, 236, 71);
	}

}


